<h1> Pipes basicos</h1>
<p>
  Pipes incluidos en Angular - usualmente en el Common module.
</p>

<div class="grid">
  <div class="col-4">
    <p-card header="UpperCase" [subheader]="nombreLower ">
      {{nombreLower | uppercase}}
    </p-card>
  </div>
  <div class="col-4">
    <p-card header="LowerCase" [subheader]="nombreUpper ">
      {{nombreUpper | lowercase}}
    </p-card>
  </div>
  <div class="col-4">
    <p-card header="TitleCase" [subheader]="nombreCompleto ">
      {{nombreCompleto | titlecase}}
    </p-card>
  </div>
</div>

<h1> Date | Fecha | Pipe</h1>
<p>
  Pipe para mostrar una fecha.
</p>
<div class="grid grid-nogutter">
  <div class="col-6">
    <p-card>
      <ul>
        <li>fecha</li>
        <li>fecha | date</li>
        <li>fecha | date:'short'</li>
        <li>fecha | date:'medium'</li>
        <li>fecha | date:'long'</li>
        <li>fecha | date:'full'</li>
        <li>fecha | date:'shortDate'</li>
        <li>fecha | date:'mediumDate'</li>
        <li>fecha | date:'longDate'</li>
        <li>fecha | date:'fullDate'</li>
        <li>fecha | date:'shortTime'</li>
        <li>fecha | date:'mediumTime'</li>
        <li>fecha | date:'longTime'</li>
        <li>fecha | date:'fullTime'</li>
        <li>fecha | date:'EEEE d 'of' LLLL, yyy hh:mm aa '</li>
      </ul>
      <hr>
      <ul>
        <li>fecha | date:'long':'GMT-6'</li>
        <li>fecha | date:'long':'GMT-4'</li>
        <li>fecha | date:'long':'':'en'</li>
      </ul>
    </p-card>
  </div>
  <div class="col-6 ">
    <p-card>
      <ul>
        <li>{{fecha}}</li>
        <li>{{fecha | date}}</li>
        <li>{{fecha | date:'short'}}</li>
        <li>{{fecha | date:'medium'}}</li>
        <li>{{fecha | date:'long'}}</li>
        <li>{{fecha | date:'full'}}</li>
        <li>{{fecha | date:'shortDate'}}</li>
        <li>{{fecha | date:'mediumDate'}}</li>
        <li>{{fecha | date:'longDate'}}</li>
        <li>{{fecha | date:'fullDate'}}</li>
        <li>{{fecha | date:'shortTime'}}</li>
        <li>{{fecha | date:'mediumTime'}}</li>
        <li>{{fecha | date:'longTime'}}</li>
        <li>{{fecha | date:'fullTime'}}</li>
        <li>{{fecha | date:"EEEE d 'de' LLLL 'del' yyy  hh:mm aa "}}</li>
      </ul>
      <hr>
      <ul>
        <li>{{fecha | date:'long':'GMT-6'}}</li>
        <li>{{fecha | date:'long':'GMT-4'}}</li>
        <li>{{fecha | date:'long':'':'en'}}</li>
      </ul>
    </p-card>
  </div>
</div>
